#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;


}

.movie {
    border: 7px solid cornflowerblue;

}



.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    color: rgb(212, 130, 100);

}


.desc {
    text-align: center;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;

}
